<ion-view title="Agree" id="page28" style="background-color:#BEDEE4;">
  <ion-content padding="true" class="has-header">
    <h1 id="agree-heading9" style="color:#000000;">Level </h1>
    <ion-list id="agree-list16">
      <ion-item id="agree-list-item48">
        <span class="item-note">Subject name and hours</span>
      </ion-item>
      <ion-item id="agree-list-item13">
        <span class="item-note">Subject name and hours</span>
      </ion-item>
      <ion-item id="agree-list-item14">
        <span class="item-note">Subject name and hours</span>
      </ion-item>
      <ion-item id="agree-list-item15">
        <span class="item-note">Subject name and hours</span>
      </ion-item>
      <ion-item id="agree-list-item40">
        <span class="item-note">Subject name and hours</span>
      </ion-item>
      <ion-item id="agree-list-item43">
        <span class="item-note">Subject name and hours</span>
      </ion-item>
      <ion-item id="agree-list-item47">
        <span class="item-note">Subject name and hours</span>
      </ion-item>
      <ion-item id="agree-list-item51">
        <span class="item-note">total hours</span>
      </ion-item>
    </ion-list>
    <a ui-sref="wELCOME()" id="agree-button65" style="border-radius:19px 19px 19px 19px;" class="button button-calm button-block">Exit</a>
  </ion-content>
</ion-view>