<ion-view title="Check schedule" id="page13" style="background-color:#BEDEE4;">
  <ion-content padding="true" class="has-header">
    <h1 id="checkSchedule-heading5" style="color:#000000;">Level </h1>
    <ion-list id="checkSchedule-list17">
      <ion-item id="checkSchedule-list-item37">
        <span class="item-note">Subject name </span>
      </ion-item>
      <ion-item id="checkSchedule-list-item54">
        <span class="item-note">Subject name </span>
      </ion-item>
      <ion-item id="checkSchedule-list-item39">
        <span class="item-note">Subject name </span>
      </ion-item>
      <ion-item id="checkSchedule-list-item49">
        <span class="item-note">Subject name </span>
      </ion-item>
      <ion-item id="checkSchedule-list-item50">
        <span class="item-note">Subject name </span>
      </ion-item>
      <ion-item id="checkSchedule-list-item52">
        <span class="item-note">Subject name </span>
      </ion-item>
      <ion-item id="checkSchedule-list-item53">
        <span class="item-note">Subject name </span>
      </ion-item>
    </ion-list>
    <a ui-sref="agree()" id="checkSchedule-button23" style="border-radius:19px 19px 19px 19px;" class="button button-calm button-block">Agree</a>
    <a ui-sref="disagree()" id="checkSchedule-button25" style="border-radius:19px 19px 19px 19px;" class="button button-calm button-block">Disagree</a>
  </ion-content>
</ion-view>