<ion-view title="Disagree" id="page24" style="background-color:#BEDEE4;">
  <ion-content padding="true" class="has-header">
    <h3 id="disagree-heading11" style="color:#000000;">Add or remove subject form</h3>
    <form id="disagree-form19" class="list">
      <label class="item item-input" id="disagree-input33">
        <span class="input-label">Student_name</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="disagree-input52">
        <span class="input-label">Student_ID</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="disagree-input55">
        <span class="input-label">Level</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="disagree-input56">
        <span class="input-label">Subject_name</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="disagree-input57">
        <span class="input-label">Subject_ID</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="disagree-input58">
        <span class="input-label">Hours</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <div id="disagree-markdown3" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:19px;">Choose carefully :</p>
    </div>
    <button id="disagree-button46" style="border-radius:110px 110px 110px 110px;" class="button button-calm button-block">Add</button>
    <button id="disagree-button47" style="border-radius:102px 102px 102px 102px;" class="button button-calm button-block">Remove </button>
  </ion-content>
</ion-view>