<ion-view title="Edit Student" id="page17" style="background-color:#BEDEE4;">
  <ion-content padding="true" class="has-header">
    <form id="editStudent-form10" class="list">
      <label class="item item-input" id="editStudent-input31">
        <span class="input-label">Student ID</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="editStudent-input29">
        <span class="input-label">Student name</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="editStudent-input32">
        <span class="input-label">Level</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="editStudent-input34">
        <span class="input-label">Department</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <a ui-sref="menu.student()" id="editStudent-button12" style="border-radius:19px 19px 19px 19px;" class="button button-calm button-block">Save</a>
  </ion-content>
</ion-view>