<ion-view title="Modify schedule " id="page18" style="background-color:#BEDEE4;">
  <ion-content padding="true" class="has-header">
    <h2 id="modifySchedule-heading10" style="color:#000000;">Level 1</h2>
    <form id="modifySchedule-form21" class="list">
      <label class="item item-input" id="modifySchedule-textarea11">
        <span class="input-label">Subject1</span><textarea placeholder=""></textarea></label>
      <ion-checkbox id="modifySchedule-checkbox2">Fail</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox3">Add</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox16">Pass</ion-checkbox>
      <label class="item item-input" id="modifySchedule-textarea10">
        <span class="input-label">Subject 2</span><textarea placeholder=""></textarea></label>
      <ion-checkbox id="modifySchedule-checkbox4">Fail</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox5">Add</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox17">Pass</ion-checkbox>
      <label class="item item-input" id="modifySchedule-textarea19">
        <span class="input-label">Subject 3</span><textarea placeholder=""></textarea></label>
      <ion-checkbox id="modifySchedule-checkbox14">Fail</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox15">Add</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox18">pass</ion-checkbox>
      <label class="item item-input" id="modifySchedule-textarea20">
        <span class="input-label">Subject 4</span><textarea placeholder=""></textarea></label>
      <ion-checkbox id="modifySchedule-checkbox19">Fail</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox20">Add</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox21">pass</ion-checkbox>
      <label class="item item-input" id="modifySchedule-textarea21">
        <span class="input-label">Subject 5</span><textarea placeholder=""></textarea></label>
      <ion-checkbox id="modifySchedule-checkbox22">Fail</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox23">Add</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox25">pass</ion-checkbox>
      <h1 id="modifySchedule-heading12" style="color:#000000;">Level 2</h1>
    </form>
    <form id="modifySchedule-form23" class="list">
      <label class="item item-input" id="modifySchedule-textarea32">
        <span class="input-label">Subject1</span><textarea placeholder=""></textarea></label>
      <ion-checkbox id="modifySchedule-checkbox56">Fail</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox57">Add</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox58">Pass</ion-checkbox>
      <label class="item item-input" id="modifySchedule-textarea33">
        <span class="input-label">Subject 2</span><textarea placeholder=""></textarea></label>
      <ion-checkbox id="modifySchedule-checkbox59">Fail</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox60">Add</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox61">Pass</ion-checkbox>
      <label class="item item-input" id="modifySchedule-textarea34">
        <span class="input-label">Subject 3</span><textarea placeholder=""></textarea></label>
      <ion-checkbox id="modifySchedule-checkbox62">Fail</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox63">Add</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox64">pass</ion-checkbox>
      <label class="item item-input" id="modifySchedule-textarea35">
        <span class="input-label">Subject 4</span><textarea placeholder=""></textarea></label>
      <ion-checkbox id="modifySchedule-checkbox65">Fail</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox66">Add</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox67">pass</ion-checkbox>
      <label class="item item-input" id="modifySchedule-textarea36">
        <span class="input-label">Subject 5</span><textarea placeholder=""></textarea></label>
      <ion-checkbox id="modifySchedule-checkbox68">Fail</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox69">Add</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox70">pass</ion-checkbox>
    </form>
    <h1 id="modifySchedule-heading14" style="color:#000000;">Level 3</h1>
    <form id="modifySchedule-form22" class="list">
      <label class="item item-input" id="modifySchedule-textarea27">
        <span class="input-label">Subject1</span><textarea placeholder=""></textarea></label>
      <ion-checkbox id="modifySchedule-checkbox41">Fail</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox42">Add</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox43">Pass</ion-checkbox>
      <label class="item item-input" id="modifySchedule-textarea28">
        <span class="input-label">Subject 2</span><textarea placeholder=""></textarea></label>
      <ion-checkbox id="modifySchedule-checkbox44">Fail</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox45">Add</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox46">Pass</ion-checkbox>
      <label class="item item-input" id="modifySchedule-textarea29">
        <span class="input-label">Subject 3</span><textarea placeholder=""></textarea></label>
      <ion-checkbox id="modifySchedule-checkbox47">Fail</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox48">Add</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox49">pass</ion-checkbox>
      <label class="item item-input" id="modifySchedule-textarea30">
        <span class="input-label">Subject 4</span><textarea placeholder=""></textarea></label>
      <ion-checkbox id="modifySchedule-checkbox50">Fail</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox51">Add</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox52">pass</ion-checkbox>
      <label class="item item-input" id="modifySchedule-textarea31">
        <span class="input-label">Subject 5</span><textarea placeholder=""></textarea></label>
      <ion-checkbox id="modifySchedule-checkbox53">Fail</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox54">Add</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox55">pass</ion-checkbox>
    </form>
    <h1 id="modifySchedule-heading13" style="color:#000000;">Level 4</h1>
    <form id="modifySchedule-form20" class="list">
      <label class="item item-input" id="modifySchedule-textarea22">
        <span class="input-label">Subject1</span><textarea placeholder=""></textarea></label>
      <ion-checkbox id="modifySchedule-checkbox26">Fail</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox27">Add</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox28">Pass</ion-checkbox>
      <label class="item item-input" id="modifySchedule-textarea23">
        <span class="input-label">Subject 2</span><textarea placeholder=""></textarea></label>
      <ion-checkbox id="modifySchedule-checkbox29">Fail</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox30">Add</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox31">Pass</ion-checkbox>
      <label class="item item-input" id="modifySchedule-textarea24">
        <span class="input-label">Subject 3</span><textarea placeholder=""></textarea></label>
      <ion-checkbox id="modifySchedule-checkbox32">Fail</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox33">Add</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox34">pass</ion-checkbox>
      <label class="item item-input" id="modifySchedule-textarea25">
        <span class="input-label">Subject 4</span><textarea placeholder=""></textarea></label>
      <ion-checkbox id="modifySchedule-checkbox35">Fail</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox36">Add</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox37">pass</ion-checkbox>
      <label class="item item-input" id="modifySchedule-textarea26">
        <span class="input-label">Subject 5</span><textarea placeholder=""></textarea></label>
      <ion-checkbox id="modifySchedule-checkbox38">Fail</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox39">Add</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox40">pass</ion-checkbox>
      <h1 id="modifySchedule-heading15" style="color:#000000;">level 5</h1>
    </form>
    <form id="modifySchedule-form17" class="list">
      <label class="item item-input" id="modifySchedule-textarea37">
        <span class="input-label">Subject1</span><textarea placeholder=""></textarea></label>
      <ion-checkbox id="modifySchedule-checkbox71">Fail</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox72">Add</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox73">Pass</ion-checkbox>
      <label class="item item-input" id="modifySchedule-textarea38">
        <span class="input-label">Subject 2</span><textarea placeholder=""></textarea></label>
      <ion-checkbox id="modifySchedule-checkbox74">Fail</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox75">Add</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox76">Pass</ion-checkbox>
      <label class="item item-input" id="modifySchedule-textarea39">
        <span class="input-label">Subject 3</span><textarea placeholder=""></textarea></label>
      <ion-checkbox id="modifySchedule-checkbox77">Fail</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox78">Add</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox79">pass</ion-checkbox>
      <label class="item item-input" id="modifySchedule-textarea40">
        <span class="input-label">Subject 4</span><textarea placeholder=""></textarea></label>
      <ion-checkbox id="modifySchedule-checkbox80">Fail</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox81">Add</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox82">pass</ion-checkbox>
      <label class="item item-input" id="modifySchedule-textarea41">
        <span class="input-label">Subject 5</span><textarea placeholder=""></textarea></label>
      <ion-checkbox id="modifySchedule-checkbox83">Fail</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox84">Add</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox85">pass</ion-checkbox>
    </form>
    <h1 id="modifySchedule-heading17" style="color:#000000;">level 6</h1>
    <form id="modifySchedule-form18" class="list">
      <label class="item item-input" id="modifySchedule-textarea42">
        <span class="input-label">Subject1</span><textarea placeholder=""></textarea></label>
      <ion-checkbox id="modifySchedule-checkbox86">Fail</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox87">Add</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox88">Pass</ion-checkbox>
      <label class="item item-input" id="modifySchedule-textarea43">
        <span class="input-label">Subject 2</span><textarea placeholder=""></textarea></label>
      <ion-checkbox id="modifySchedule-checkbox89">Fail</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox90">Add</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox91">Pass</ion-checkbox>
      <label class="item item-input" id="modifySchedule-textarea44">
        <span class="input-label">Subject 3</span><textarea placeholder=""></textarea></label>
      <ion-checkbox id="modifySchedule-checkbox92">Fail</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox93">Add</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox94">pass</ion-checkbox>
      <label class="item item-input" id="modifySchedule-textarea45">
        <span class="input-label">Subject 4</span><textarea placeholder=""></textarea></label>
      <ion-checkbox id="modifySchedule-checkbox95">Fail</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox96">Add</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox97">pass</ion-checkbox>
      <label class="item item-input" id="modifySchedule-textarea46">
        <span class="input-label">Subject 5</span><textarea placeholder=""></textarea></label>
      <ion-checkbox id="modifySchedule-checkbox98">Fail</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox99">Add</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox100">pass</ion-checkbox>
      <h1 id="modifySchedule-heading16" style="color:#000000;">level 7</h1>
    </form>
    <form id="modifySchedule-form24" class="list">
      <label class="item item-input" id="modifySchedule-textarea47">
        <span class="input-label">Subject1</span><textarea placeholder=""></textarea></label>
      <ion-checkbox id="modifySchedule-checkbox101">Fail</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox102">Add</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox103">Pass</ion-checkbox>
      <label class="item item-input" id="modifySchedule-textarea48">
        <span class="input-label">Subject 2</span><textarea placeholder=""></textarea></label>
      <ion-checkbox id="modifySchedule-checkbox104">Fail</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox105">Add</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox106">Pass</ion-checkbox>
      <label class="item item-input" id="modifySchedule-textarea49">
        <span class="input-label">Subject 3</span><textarea placeholder=""></textarea></label>
      <ion-checkbox id="modifySchedule-checkbox107">Fail</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox108">Add</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox109">pass</ion-checkbox>
      <label class="item item-input" id="modifySchedule-textarea50">
        <span class="input-label">Subject 4</span><textarea placeholder=""></textarea></label>
      <ion-checkbox id="modifySchedule-checkbox110">Fail</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox111">Add</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox112">pass</ion-checkbox>
      <label class="item item-input" id="modifySchedule-textarea51">
        <span class="input-label">Subject 5</span><textarea placeholder=""></textarea></label>
      <ion-checkbox id="modifySchedule-checkbox113">Fail</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox114">Add</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox115">pass</ion-checkbox>
      <h1 id="modifySchedule-heading18" style="color:#000000;">level 8</h1>
    </form>
    <form id="modifySchedule-form25" class="list">
      <label class="item item-input" id="modifySchedule-textarea52">
        <span class="input-label">Subject1</span><textarea placeholder=""></textarea></label>
      <ion-checkbox id="modifySchedule-checkbox116">Fail</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox117">Add</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox118">Pass</ion-checkbox>
      <label class="item item-input" id="modifySchedule-textarea53">
        <span class="input-label">Subject 2</span><textarea placeholder=""></textarea></label>
      <ion-checkbox id="modifySchedule-checkbox119">Fail</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox120">Add</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox121">Pass</ion-checkbox>
      <label class="item item-input" id="modifySchedule-textarea54">
        <span class="input-label">Subject 3</span><textarea placeholder=""></textarea></label>
      <ion-checkbox id="modifySchedule-checkbox122">Fail</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox123">Add</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox124">pass</ion-checkbox>
      <label class="item item-input" id="modifySchedule-textarea55">
        <span class="input-label">Subject 4</span><textarea placeholder=""></textarea></label>
      <ion-checkbox id="modifySchedule-checkbox125">Fail</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox126">Add</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox127">pass</ion-checkbox>
      <label class="item item-input" id="modifySchedule-textarea56">
        <span class="input-label">Subject 5</span><textarea placeholder=""></textarea></label>
      <ion-checkbox id="modifySchedule-checkbox128">Fail</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox129">Add</ion-checkbox>
      <ion-checkbox id="modifySchedule-checkbox130">pass</ion-checkbox>
    </form>
    <a ui-sref="menu.schedule()" id="modifySchedule-button54" style="border-radius:19px 19px 19px 19px;" class="button button-calm button-block">done</a>
  </ion-content>
</ion-view>