<ion-view title="Schedule" id="page27" style="background-color:#BEDEE4;">
  <ion-content padding="true" class="has-header">
    <h2 id="schedule-heading8" style="color:#000000;">Level {{}}</h2>
    <ion-list id="schedule-list15">
      <ion-item id="schedule-list-item45">
        <span class="item-note">subject name and Hours</span>
      </ion-item>
      <ion-item id="schedule-list-item9">
        <span class="item-note">subject name and Hours</span>
      </ion-item>
      <ion-item id="schedule-list-item17">
        <span class="item-note">subject name and Hours</span>
      </ion-item>
      <ion-item id="schedule-list-item19">
        <span class="item-note">subject name and Hours</span>
      </ion-item>
      <ion-item id="schedule-list-item20">
        <span class="item-note">subject name and Hours</span>
      </ion-item>
      <ion-item id="schedule-list-item21">
        <span class="item-note">subject name and Hours</span>
      </ion-item>
      <ion-item id="schedule-list-item22">
        <span class="item-note">subject name and Hours</span>
      </ion-item>
      <label class="item item-input" id="schedule-textarea16">
        <span class="input-label">Total Hours :</span><textarea placeholder=""></textarea></label>
    </ion-list>
    <button id="schedule-button64" style="border-radius:19px 19px 19px 19px;" class="button button-calm button-block">Send</button>
  </ion-content>
</ion-view>